name: CMake

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-22.04, windows-latest]
        build_type: [Release, Debug]
        c_compiler: [gcc, clang, cl]
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
          - os: ubuntu-22.04
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-22.04
            c_compiler: clang
            cpp_compiler: clang++
        exclude:
          - os: windows-latest
            c_compiler: gcc
          - os: windows-latest
            c_compiler: clang
          - os: ubuntu-22.04
            c_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Setup libraries
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get update && sudo apt-get install -y libsdl2-dev libassimp5 libglew2.2 libglew-dev

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

    - name: Upload Linux build
      if: startsWith(matrix.os, 'ubuntu')
      uses: actions/upload-artifact@v4
      with:
        name: HatchGameEngine-Linux-${{ matrix.build_type }}-${{ github.sha }}-${{ matrix.c_compiler }}
        path: build/HatchGameEngine-${{ matrix.build_type }}
        retention-days: 7

    - name: Upload Windows build
      if: startsWith(matrix.os, 'windows')
      uses: actions/upload-artifact@v4
      with:
        name: HatchGameEngine-Windows-${{ matrix.build_type }}-${{ github.sha }}
        path: build/${{ matrix.build_type }}/HatchGameEngine-${{ matrix.build_type }}.exe
        retention-days: 7

  # Duplicated from above, no simple way to add Switch to the matrix
  switch-build:
    runs-on: ubuntu-22.04
    container: devkitpro/devkita64:latest
    strategy:
      fail-fast: false

      matrix:
        build_type: [Release, Debug]

    steps:
      - uses: actions/checkout@v4

      # github.workspace doesn't work on container workflows so we use $GITHUB_WORKSPACE instead
      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${GITHUB_WORKSPACE}/build" >> "$GITHUB_OUTPUT"

      - name: Configure CMake
        run: >
          cmake -B ${{ steps.strings.outputs.build-output-dir }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -DCMAKE_TOOLCHAIN_FILE=$DEVKITPRO/cmake/Switch.cmake
          -S ${GITHUB_WORKSPACE}

      - name: Build
        run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

      - name: Upload Switch build
        uses: actions/upload-artifact@v4
        with:
          name: HatchGameEngine-Switch-${{ matrix.build_type }}-${{ github.sha }}
          path: build/*.nro
          retention-days: 7